.menucontainer{
    height: 50px;
    background-color: floralwhite;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 30;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgrey;
    display: flex;
    flex-direction: row;
}

.logoimg{
    position: absolute;
    top:5px;
    height: 80%;
    width: auto;
    right: 10px;
}

.itemcontainer{
    position: absolute;
    width: 120px;
    right: 50px;
    top: 15px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10pt;
    color:darkslategray
}